main{
    justify-content: center;
    flex-direction: column;
}
.n_seccion_nav{
    text-align: center;
    border: 1px solid black;
    margin-bottom: 1%;

}
.articulo_novedades
{
    border-radius: 0%;
}

.menu_secc table{
    border-collapse: collapse;
}

.mostrar_mas ul
{
    justify-content: center;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    text-align: center;

}
.mostrar_mas li
{
    margin: 1%;
}
.mostrar_mas a{
    text-decoration: none;
    color: inherit;
}